<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/search}">Search</a></li>
                    <li><a th:href="@{/list}">List</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div th:fragment="display-jobs">
        <table class="job-listing" th:each="job : ${jobs}">

            <tr>
                <td>ID</td>
                <td th:text="${job.id}">Job ID</td>
            </tr>
            <tr>
                <td>Job Title</td>
                <td th:text="${job.name}">Job Name</td>
            </tr>
            <td>Employer</td>
            <td th:text="${job.employer}">Job Employer</td>
            <tr>
                <td>Location</td>
                <td th:text="${job.location}">Job Location</td>
            </tr>
            <tr>
                <td>Position Type</td>
                <td th:text="${job.positionType}">Job Position Type</td>
            </tr>
            <tr>
                <td>Skills Needed</td>
                <td th:text="${job.coreCompetency}">Job Skills</td>
            </tr>
        </table>
    </div>

</body>
</html>