<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->
    <table class="job-listing" th:each="job : ${jobs}">

        <tr>
            <td>ID</td>
            <td th:text="${job.id}">Job ID</td>
        </tr>
        <tr>
            <td>Job Title</td>
            <td th:text="${job.name}">Job Name</td>
        </tr>
            <td>Employer</td>
            <td th:text="${job.employer}">Job Employer</td>
        <tr>
            <td>Location</td>
            <td th:text="${job.location}">Job Location</td>
        </tr>
        <tr>
            <td>Position Type</td>
            <td th:text="${job.positionType}">Job Position Type</td>
        </tr>
        <tr>
            <td>Skills Needed</td>
            <td th:text="${job.coreCompetency}">Job Skills</td>
        </tr>
    </table>

</div>

</body>
</html>